FORMAT: 1A
HOST: http://api.huddle.net/

# Huddle Files

Huddle is platform for secure external collaboration. For more details on the product, visit http://www.huddle.com/product-overview/

This is the documentation for the files-related APIs that Huddle provides.

For site wide API standards and conventions see: [INSERT LINK TO OVERALL API DOCS]



# Group Folders

Folders are used to organise, group, and protect documents that are stored in Huddle.

Folders in Huddle are conceptually similar to folders on a hard drive in that folders can contain other folders as well as documents.

Access controls can be set on a folder to allow different groups of people to read, write, and delete those documents.


## Root Folder [/files/workspaces/{workspaceId}/folders/root{?projection}]

This resource allows a user to retrieve the root folder of a workspace. The response is the same as when you issue a GET for a folder. The optional projections described for retrieving a folder are also valid for retrieving a root folder.

### Retrieve a root Folder [GET]

+ Parameters
    + workspaceId (integer) ... ID of a workspace.
    + projection (optional, string) ... Optional projections, supported values are `permissions`, `ancestry` and `subfolderChildCount`, these can be combined with comma-seperation.

+ Request XML
    + Headers

            Accept: application/vnd.huddle.data+xml
            Authorization: OAuth2 frootymcnooty/vonbootycherooty

+ Response 200 (application/vnd.huddle.data+xml)

    + Headers

            Last-Modified: Tue, 1 Feb 2011 13:18:42 GMT

    + Body
    
            <folder xmlns="https://schema.huddle.net/2011/02/" title="My folder" displayName="My folder" description="Folder description">
                <link rel="self" href="files/folders/12345" />
                <link rel="parent" href="..." />
                <link rel="delete" href="..." />
                <link rel="bulk-delete" href="..." />
                <link rel="bulk-move" href="..." />
                <link rel="bulk-download" href="..." />
                <link rel="edit" href="..." />
                <link rel="move" href="..." />
                <link rel="create-folder" href="..." />
                <link rel="create-document" href="..." />
                <link rel="permissions" href="..." />
                <link rel="editPermissions" href="..." />
                <link rel="workspace-summary" href="..." />
                <link rel="share" href="..." />
                <link rel="copy" href="..." />
                <link rel="document-library-settings" href="..." />
                <actor name="Ian Cooper" email="ian.cooper@example.com" rel="owner">
                    <link rel="self" href="..." />
                    <link rel="avatar" href="..." />
                    <link rel="alternate" href="..." type="text/html" />
                </actor>
                <folders>
                    <folder title="sub folder" description="my subfolder">
                        <link rel="self" href="files/folders/12345" />
                        <link rel="parent" href="..." />
                        <link rel="delete" href="..." />
                        <link rel="bulk-delete" href="..." />
                        <link rel="bulk-move" href="..." />
                        <link rel="bulk-download" href="..." />
                        <link rel="edit" href="..." />
                        <link rel="move" href="..." />
                        <link rel="create-folder" href="..." />
                        <link rel="create-document" href="..." />
                        <link rel="permissions" href="..." />
                        <link rel="editPermissions" href="..." />
                        <link rel="workspace-summary" href="..." />
                        <link rel="share" href="..." />
                        <link rel="copy" href="..." />
                        <link rel="document-library-settings" href="..." />
                        <updated>2014-09-22T08:25:43Z</updated>
                        <created>2014-09-22T08:25:43Z</created>
                    </folder>
                </folders>
              <documents>
                <document title="title" description="document description">
                    <link rel="self" href="..." />
                    <link rel="version-history" href="..." />
                    <link rel="comments" href="..." count="0" />
                    <link rel="approvals" href="..." />
                    <link rel="permissions" href="..." />
                    <link rel="share" href="..." />
                    <link rel="audittrail" href="..." />
                    <link rel="printed" href="..." />
                    <link rel="bulk-delete" href="..." />
                    <link rel="previews" href="..." />
                    <link rel="alternate" href="..." />
                    <link rel="alternate" href="..." type="text/html" />
                    <link rel="shortlink" href="..." type="text/html" />
                    <link rel="content" href="..." type="image/png" title="title.PNG" />
                    <link rel="parent" href="..." title="My folder" />
                    <link rel="edit" href="..." />
                    <link rel="create-version" href="..." />
                    <link rel="lock" href="..." />
                    <link rel="delete" href="..." />
                    <link rel="move" href="..." />
                    <link rel="copy" href="..." />
                </document>
              </documents>
              <created>2007-10-10T09:02:17Z</created>
              <updated>2007-01-01T00:02:03Z</updated>
            </folder>

+ Request JSON
    
    + Headers

            Accept: application/vnd.huddle.data+json
            Authorization: OAuth2 frootymcnooty/vonbootycherooty

+ Response 200 (application/vnd.huddle.data+json)

    + Headers

            Last-Modified: Tue, 1 Feb 2011 13:18:42 GMT

    + Body
    
            {
                "title" : "My folder",
                "displayName" : "My folder",
                "description" : "Folder description",
                "links" : [
                  {
                    "rel" : "self",
                    "href" : "..."
                  }, {
                    "rel" : "parent",
                    "href" : "..."
                  }, {
                    "rel" : "delete",
                    "href" : "..."
                  }, {
                    "rel" : "bulk-delete",
                    "href" : "..."
                  }, {
                    "rel" : "bulk-move",
                    "href" : "..."
                  }, {
                    "rel" : "bulk-download",
                    "href" : "..."
                  }, {
                    "rel" : "edit",
                    "href" : "..."
                  }, {
                    "rel" : "move",
                    "href" : "..."
                  }, {
                    "rel" : "create-folder",
                    "href" : "..."
                  }, {
                    "rel" : "create-document",
                    "href" : "..."
                  }, {
                    "rel" : "permissions",
                    "href" : "..."
                  }, {
                    "rel" : "editPermissions",
                    "href" : "..."
                  }, {
                    "rel" : "workspace-summary",
                    "href" : "..."
                  }, {
                    "rel" : "share",
                    "href" : "..."
                  }, {
                    "rel" : "copy",
                    "href" : "..."
                  }, {
                    "rel" : "document-library-settings",
                    "href" : "..."
                  }
                ],
                "actor" : {
                    "name" : "Ian Cooper",
                    "email" : "ian.cooper@example.com",
                    "rel" : "owner",
                    "links" : [
                      {
                        "rel" : "self",
                        "href" : "..."
                      }, {
                        "rel" : "avatar",
                        "href" : "...",
                        "type" : "image/jpg"
                      }, {
                        "rel" : "alternate",
                        "href" : "...",
                        "type" : "text/html"
                      }
                    ]
                },
                "folders" : [
                    {
                        "title" : "sub folder",
                        "description" : "my subfolder",
                        "links" : [
                          {
                            "rel" : "self",
                            "href" : "..."
                          }, {
                            "rel" : "parent",
                            "href" : "..."
                          }, {
                            "rel" : "delete",
                            "href" : "..."
                          }, {
                            "rel" : "bulk-delete",
                            "href" : "..."
                          }, {
                            "rel" : "bulk-move",
                            "href" : "..."
                          }, {
                            "rel" : "bulk-download",
                            "href" : "..."
                          }, {
                            "rel" : "edit",
                            "href" : "..."
                          }, {
                            "rel" : "move",
                            "href" : "..."
                          }, {
                            "rel" : "create-folder",
                            "href" : "..."
                          }, {
                            "rel" : "create-document",
                            "href" : "..."
                          }, {
                            "rel" : "permissions",
                            "href" : "..."
                          }, {
                            "rel" : "editPermissions",
                            "href" : "..."
                          }, {
                            "rel" : "workspace-summary",
                            "href" : "..."
                          }, {
                            "rel" : "share",
                            "href" : "..."
                          }, {
                            "rel" : "copy",
                            "href" : "..."
                          }, {
                            "rel" : "document-library-settings",
                            "href" : "..."
                          }
                        ],
                        "updated" : "2014-09-22T08:25:43Z",
                        "created" : "2014-09-22T08:25:43Z"
                    }
                ],
                "documents" : [
                    {
                        "title" : "document title",
                        "description" : "document description",
                        "links" : [
                          {
                            "rel" : "self",
                            "href" : "..."
                          }, {
                            "rel" : "version-history",
                            "href" : "..."
                          }, {
                            "rel" : "comments",
                            "href" : "...",
                            "count" : 0
                          }, {
                            "rel" : "approvals",
                            "href" : "..."
                          }, {
                            "rel" : "permissions",
                            "href" : "..."
                          }, {
                            "rel" : "share",
                            "href" : "..."
                          }, {
                            "rel" : "audittrail",
                            "href" : "..."
                          }, {
                            "rel" : "printed",
                            "href" : "..."
                          }, {
                            "rel" : "bulk-delete",
                            "href" : "..."
                          }, {
                            "rel" : "previews",
                            "href" : "..."
                          }, {
                            "rel" : "alternate",
                            "href" : "..."
                          }, {
                            "rel" : "alternate",
                            "href" : "...",
                            "type" : "text/html"
                          }, {
                            "rel" : "shortlink",
                            "href" : "...",
                            "type" : "text/html"
                          }, {
                            "rel" : "content",
                            "href" : "...",
                            "type" : "image/png",
                            "title" : "title.PNG"
                          }, {
                            "rel" : "parent",
                            "href" : "...",
                            "title" : "My folder"
                          }, {
                            "rel" : "edit",
                            "href" : "..."
                          }, {
                            "rel" : "create-version",
                            "href" : "..."
                          }, {
                            "rel" : "lock",
                            "href" : "..."
                          }, {
                            "rel" : "delete",
                            "href" : "..."
                          }, {
                            "rel" : "move",
                            "href" : "..."
                          }, {
                            "rel" : "copy",
                            "href" : "..."
                          }
                        ]
                    }
                ],
                "created" : "2007-10-10T09:02:17Z",
                "updated" : "2007-10-10T09:02:17Z"
            }


## Folder [/files/folders/{folderId}{?projection}]

### Retrieve a Folder [GET]

The top level folder in any workspace is returned as part of a Workspace. You can navigate the folder hierarchy by following the links returned in the folder structure.

An If-Modified-Since header can be specified in the Request header to indicate that only if there are changes to the Folder resource since the specified time should they be sent.

Additionally, Last-Modified is included in the response to indicate the last time the Folder resource was generated.

The root folder element contains a displayName attribute, as well as a title. In most cases, these will be the same; however, if the folder being retrieved is the document library (i.e. root) folder in the workspace, the displayName attribute's value will match the name of the workspace, which is generally more appropriate than "documentlibrary" for display purposes. Please note that this is a read-only property, and including a displayName attribute in any PUT or POST requests will have no effect.


+ Parameters
    + folderId (integer) ... ID of a folder.
    + projection (optional, string) ... Optional projections, supported values are `permissions`, `ancestry` and `subfolderChildCount`, these can be combined with comma-seperation.

+ Request XML
    + Headers

            Accept: application/vnd.huddle.data+xml
            Authorization: OAuth2 frootymcnooty/vonbootycherooty

+ Response 200 (application/vnd.huddle.data+xml)

    + Headers

            Last-Modified: Tue, 1 Feb 2011 13:18:42 GMT

    + Body
    
            <folder xmlns="https://schema.huddle.net/2011/02/" title="My folder" displayName="My folder" description="Folder description">
                <link rel="self" href="files/folders/12345" />
                <link rel="parent" href="..." />
                <link rel="delete" href="..." />
                <link rel="bulk-delete" href="..." />
                <link rel="bulk-move" href="..." />
                <link rel="bulk-download" href="..." />
                <link rel="edit" href="..." />
                <link rel="move" href="..." />
                <link rel="create-folder" href="..." />
                <link rel="create-document" href="..." />
                <link rel="permissions" href="..." />
                <link rel="editPermissions" href="..." />
                <link rel="workspace-summary" href="..." />
                <link rel="share" href="..." />
                <link rel="copy" href="..." />
                <link rel="document-library-settings" href="..." />
                <actor name="Ian Cooper" email="ian.cooper@example.com" rel="owner">
                    <link rel="self" href="..." />
                    <link rel="avatar" href="..." />
                    <link rel="alternate" href="..." type="text/html" />
                </actor>
                <folders>
                    <folder title="sub folder" description="my subfolder">
                        <link rel="self" href="files/folders/12345" />
                        <link rel="parent" href="..." />
                        <link rel="delete" href="..." />
                        <link rel="bulk-delete" href="..." />
                        <link rel="bulk-move" href="..." />
                        <link rel="bulk-download" href="..." />
                        <link rel="edit" href="..." />
                        <link rel="move" href="..." />
                        <link rel="create-folder" href="..." />
                        <link rel="create-document" href="..." />
                        <link rel="permissions" href="..." />
                        <link rel="editPermissions" href="..." />
                        <link rel="workspace-summary" href="..." />
                        <link rel="share" href="..." />
                        <link rel="copy" href="..." />
                        <link rel="document-library-settings" href="..." />
                        <updated>2014-09-22T08:25:43Z</updated>
                        <created>2014-09-22T08:25:43Z</created>
                    </folder>
                </folders>
              <documents>
                <document title="title" description="document description">
                    <link rel="self" href="..." />
                    <link rel="version-history" href="..." />
                    <link rel="comments" href="..." count="0" />
                    <link rel="approvals" href="..." />
                    <link rel="permissions" href="..." />
                    <link rel="share" href="..." />
                    <link rel="audittrail" href="..." />
                    <link rel="printed" href="..." />
                    <link rel="bulk-delete" href="..." />
                    <link rel="previews" href="..." />
                    <link rel="alternate" href="..." />
                    <link rel="alternate" href="..." type="text/html" />
                    <link rel="shortlink" href="..." type="text/html" />
                    <link rel="content" href="..." type="image/png" title="title.PNG" />
                    <link rel="parent" href="..." title="My folder" />
                    <link rel="edit" href="..." />
                    <link rel="create-version" href="..." />
                    <link rel="lock" href="..." />
                    <link rel="delete" href="..." />
                    <link rel="move" href="..." />
                    <link rel="copy" href="..." />
                </document>
              </documents>
              <created>2007-10-10T09:02:17Z</created>
              <updated>2007-01-01T00:02:03Z</updated>
            </folder>

+ Request JSON
    
    + Headers

            Accept: application/vnd.huddle.data+json
            Authorization: OAuth2 frootymcnooty/vonbootycherooty

+ Response 200 (application/vnd.huddle.data+json)

    + Headers

            Last-Modified: Tue, 1 Feb 2011 13:18:42 GMT

    + Body
    
            {
                "title" : "My folder",
                "displayName" : "My folder",
                "description" : "Folder description",
                "links" : [
                  {
                    "rel" : "self",
                    "href" : "..."
                  }, {
                    "rel" : "parent",
                    "href" : "..."
                  }, {
                    "rel" : "delete",
                    "href" : "..."
                  }, {
                    "rel" : "bulk-delete",
                    "href" : "..."
                  }, {
                    "rel" : "bulk-move",
                    "href" : "..."
                  }, {
                    "rel" : "bulk-download",
                    "href" : "..."
                  }, {
                    "rel" : "edit",
                    "href" : "..."
                  }, {
                    "rel" : "move",
                    "href" : "..."
                  }, {
                    "rel" : "create-folder",
                    "href" : "..."
                  }, {
                    "rel" : "create-document",
                    "href" : "..."
                  }, {
                    "rel" : "permissions",
                    "href" : "..."
                  }, {
                    "rel" : "editPermissions",
                    "href" : "..."
                  }, {
                    "rel" : "workspace-summary",
                    "href" : "..."
                  }, {
                    "rel" : "share",
                    "href" : "..."
                  }, {
                    "rel" : "copy",
                    "href" : "..."
                  }, {
                    "rel" : "document-library-settings",
                    "href" : "..."
                  }
                ],
                "actor" : {
                    "name" : "Ian Cooper",
                    "email" : "ian.cooper@example.com",
                    "rel" : "owner",
                    "links" : [
                      {
                        "rel" : "self",
                        "href" : "..."
                      }, {
                        "rel" : "avatar",
                        "href" : "...",
                        "type" : "image/jpg"
                      }, {
                        "rel" : "alternate",
                        "href" : "...",
                        "type" : "text/html"
                      }
                    ]
                },
                "folders" : [
                    {
                        "title" : "sub folder",
                        "description" : "my subfolder",
                        "links" : [
                          {
                            "rel" : "self",
                            "href" : "..."
                          }, {
                            "rel" : "parent",
                            "href" : "..."
                          }, {
                            "rel" : "delete",
                            "href" : "..."
                          }, {
                            "rel" : "bulk-delete",
                            "href" : "..."
                          }, {
                            "rel" : "bulk-move",
                            "href" : "..."
                          }, {
                            "rel" : "bulk-download",
                            "href" : "..."
                          }, {
                            "rel" : "edit",
                            "href" : "..."
                          }, {
                            "rel" : "move",
                            "href" : "..."
                          }, {
                            "rel" : "create-folder",
                            "href" : "..."
                          }, {
                            "rel" : "create-document",
                            "href" : "..."
                          }, {
                            "rel" : "permissions",
                            "href" : "..."
                          }, {
                            "rel" : "editPermissions",
                            "href" : "..."
                          }, {
                            "rel" : "workspace-summary",
                            "href" : "..."
                          }, {
                            "rel" : "share",
                            "href" : "..."
                          }, {
                            "rel" : "copy",
                            "href" : "..."
                          }, {
                            "rel" : "document-library-settings",
                            "href" : "..."
                          }
                        ],
                        "updated" : "2014-09-22T08:25:43Z",
                        "created" : "2014-09-22T08:25:43Z"
                    }
                ],
                "documents" : [
                    {
                        "title" : "document title",
                        "description" : "document description",
                        "links" : [
                          {
                            "rel" : "self",
                            "href" : "..."
                          }, {
                            "rel" : "version-history",
                            "href" : "..."
                          }, {
                            "rel" : "comments",
                            "href" : "...",
                            "count" : 0
                          }, {
                            "rel" : "approvals",
                            "href" : "..."
                          }, {
                            "rel" : "permissions",
                            "href" : "..."
                          }, {
                            "rel" : "share",
                            "href" : "..."
                          }, {
                            "rel" : "audittrail",
                            "href" : "..."
                          }, {
                            "rel" : "printed",
                            "href" : "..."
                          }, {
                            "rel" : "bulk-delete",
                            "href" : "..."
                          }, {
                            "rel" : "previews",
                            "href" : "..."
                          }, {
                            "rel" : "alternate",
                            "href" : "..."
                          }, {
                            "rel" : "alternate",
                            "href" : "...",
                            "type" : "text/html"
                          }, {
                            "rel" : "shortlink",
                            "href" : "...",
                            "type" : "text/html"
                          }, {
                            "rel" : "content",
                            "href" : "...",
                            "type" : "image/png",
                            "title" : "title.PNG"
                          }, {
                            "rel" : "parent",
                            "href" : "...",
                            "title" : "My folder"
                          }, {
                            "rel" : "edit",
                            "href" : "..."
                          }, {
                            "rel" : "create-version",
                            "href" : "..."
                          }, {
                            "rel" : "lock",
                            "href" : "..."
                          }, {
                            "rel" : "delete",
                            "href" : "..."
                          }, {
                            "rel" : "move",
                            "href" : "..."
                          }, {
                            "rel" : "copy",
                            "href" : "..."
                          }
                        ]
                    }
                ],
                "created" : "2007-10-10T09:02:17Z",
                "updated" : "2007-10-10T09:02:17Z"
            }

### Create a Subfolder [POST]

This resource supports creating a new sub folder. To create a new sub-folder, POST an empty folder structure to the containing folder's create-folder URI. If the sub folder name supplied is already in the parent folder a number will be appended to the end of the folder name e.g. NewFolder?(1)

If successful, this response will return a folder.

If a folder with the same title already exists within the folder, you will receive a 409 Conflict.

This response uses the standard error codes and returns standard response headers.


+ Parameters
    + folderId (integer) ... ID of a folder.

+ Request XML
    + Headers

            Accept: application/vnd.huddle.data+xml
            Authorization: OAuth2 frootymcnooty/vonbootycherooty

+ Response 201 (application/vnd.huddle.data+xml)

    + Headers

            Location: ...

    + Body
    
            <folder xmlns="https://schema.huddle.net/2011/02/" title="My folder" displayName="My folder" description="Folder description">
                <link rel="self" href="files/folders/12345" />
                <link rel="parent" href="..." />
                <link rel="delete" href="..." />
                <link rel="bulk-delete" href="..." />
                <link rel="bulk-move" href="..." />
                <link rel="bulk-download" href="..." />
                <link rel="edit" href="..." />
                <link rel="move" href="..." />
                <link rel="create-folder" href="..." />
                <link rel="create-document" href="..." />
                <link rel="permissions" href="..." />
                <link rel="editPermissions" href="..." />
                <link rel="workspace-summary" href="..." />
                <link rel="share" href="..." />
                <link rel="copy" href="..." />
                <link rel="document-library-settings" href="..." />
                <actor name="Ian Cooper" email="ian.cooper@example.com" rel="owner">
                    <link rel="self" href="..." />
                    <link rel="avatar" href="..." />
                    <link rel="alternate" href="..." type="text/html" />
                </actor>
                <folders>
                    <folder title="sub folder" description="my subfolder">
                        <link rel="self" href="files/folders/12345" />
                        <link rel="parent" href="..." />
                        <link rel="delete" href="..." />
                        <link rel="bulk-delete" href="..." />
                        <link rel="bulk-move" href="..." />
                        <link rel="bulk-download" href="..." />
                        <link rel="edit" href="..." />
                        <link rel="move" href="..." />
                        <link rel="create-folder" href="..." />
                        <link rel="create-document" href="..." />
                        <link rel="permissions" href="..." />
                        <link rel="editPermissions" href="..." />
                        <link rel="workspace-summary" href="..." />
                        <link rel="share" href="..." />
                        <link rel="copy" href="..." />
                        <link rel="document-library-settings" href="..." />
                        <updated>2014-09-22T08:25:43Z</updated>
                        <created>2014-09-22T08:25:43Z</created>
                    </folder>
                </folders>
              <documents>
                <document title="title" description="document description">
                    <link rel="self" href="..." />
                    <link rel="version-history" href="..." />
                    <link rel="comments" href="..." count="0" />
                    <link rel="approvals" href="..." />
                    <link rel="permissions" href="..." />
                    <link rel="share" href="..." />
                    <link rel="audittrail" href="..." />
                    <link rel="printed" href="..." />
                    <link rel="bulk-delete" href="..." />
                    <link rel="previews" href="..." />
                    <link rel="alternate" href="..." />
                    <link rel="alternate" href="..." type="text/html" />
                    <link rel="shortlink" href="..." type="text/html" />
                    <link rel="content" href="..." type="image/png" title="title.PNG" />
                    <link rel="parent" href="..." title="My folder" />
                    <link rel="edit" href="..." />
                    <link rel="create-version" href="..." />
                    <link rel="lock" href="..." />
                    <link rel="delete" href="..." />
                    <link rel="move" href="..." />
                    <link rel="copy" href="..." />
                </document>
              </documents>
              <created>2007-10-10T09:02:17Z</created>
              <updated>2007-01-01T00:02:03Z</updated>
            </folder>

+ Request JSON
    
    + Headers

            Accept: application/vnd.huddle.data+json
            Authorization: OAuth2 frootymcnooty/vonbootycherooty

+ Response 201 (application/vnd.huddle.data+json)

    + Headers

            Location: ...

    + Body
    
            {
                "title" : "My folder",
                "displayName" : "My folder",
                "description" : "Folder description",
                "links" : [
                  {
                    "rel" : "self",
                    "href" : "..."
                  }, {
                    "rel" : "parent",
                    "href" : "..."
                  }, {
                    "rel" : "delete",
                    "href" : "..."
                  }, {
                    "rel" : "bulk-delete",
                    "href" : "..."
                  }, {
                    "rel" : "bulk-move",
                    "href" : "..."
                  }, {
                    "rel" : "bulk-download",
                    "href" : "..."
                  }, {
                    "rel" : "edit",
                    "href" : "..."
                  }, {
                    "rel" : "move",
                    "href" : "..."
                  }, {
                    "rel" : "create-folder",
                    "href" : "..."
                  }, {
                    "rel" : "create-document",
                    "href" : "..."
                  }, {
                    "rel" : "permissions",
                    "href" : "..."
                  }, {
                    "rel" : "editPermissions",
                    "href" : "..."
                  }, {
                    "rel" : "workspace-summary",
                    "href" : "..."
                  }, {
                    "rel" : "share",
                    "href" : "..."
                  }, {
                    "rel" : "copy",
                    "href" : "..."
                  }, {
                    "rel" : "document-library-settings",
                    "href" : "..."
                  }
                ],
                "actor" : {
                    "name" : "Ian Cooper",
                    "email" : "ian.cooper@example.com",
                    "rel" : "owner",
                    "links" : [
                      {
                        "rel" : "self",
                        "href" : "..."
                      }, {
                        "rel" : "avatar",
                        "href" : "...",
                        "type" : "image/jpg"
                      }, {
                        "rel" : "alternate",
                        "href" : "...",
                        "type" : "text/html"
                      }
                    ]
                },
                "folders" : [
                    {
                        "title" : "sub folder",
                        "description" : "my subfolder",
                        "links" : [
                          {
                            "rel" : "self",
                            "href" : "..."
                          }, {
                            "rel" : "parent",
                            "href" : "..."
                          }, {
                            "rel" : "delete",
                            "href" : "..."
                          }, {
                            "rel" : "bulk-delete",
                            "href" : "..."
                          }, {
                            "rel" : "bulk-move",
                            "href" : "..."
                          }, {
                            "rel" : "bulk-download",
                            "href" : "..."
                          }, {
                            "rel" : "edit",
                            "href" : "..."
                          }, {
                            "rel" : "move",
                            "href" : "..."
                          }, {
                            "rel" : "create-folder",
                            "href" : "..."
                          }, {
                            "rel" : "create-document",
                            "href" : "..."
                          }, {
                            "rel" : "permissions",
                            "href" : "..."
                          }, {
                            "rel" : "editPermissions",
                            "href" : "..."
                          }, {
                            "rel" : "workspace-summary",
                            "href" : "..."
                          }, {
                            "rel" : "share",
                            "href" : "..."
                          }, {
                            "rel" : "copy",
                            "href" : "..."
                          }, {
                            "rel" : "document-library-settings",
                            "href" : "..."
                          }
                        ],
                        "updated" : "2014-09-22T08:25:43Z",
                        "created" : "2014-09-22T08:25:43Z"
                    }
                ],
                "documents" : [
                    {
                        "title" : "document title",
                        "description" : "document description",
                        "links" : [
                          {
                            "rel" : "self",
                            "href" : "..."
                          }, {
                            "rel" : "version-history",
                            "href" : "..."
                          }, {
                            "rel" : "comments",
                            "href" : "...",
                            "count" : 0
                          }, {
                            "rel" : "approvals",
                            "href" : "..."
                          }, {
                            "rel" : "permissions",
                            "href" : "..."
                          }, {
                            "rel" : "share",
                            "href" : "..."
                          }, {
                            "rel" : "audittrail",
                            "href" : "..."
                          }, {
                            "rel" : "printed",
                            "href" : "..."
                          }, {
                            "rel" : "bulk-delete",
                            "href" : "..."
                          }, {
                            "rel" : "previews",
                            "href" : "..."
                          }, {
                            "rel" : "alternate",
                            "href" : "..."
                          }, {
                            "rel" : "alternate",
                            "href" : "...",
                            "type" : "text/html"
                          }, {
                            "rel" : "shortlink",
                            "href" : "...",
                            "type" : "text/html"
                          }, {
                            "rel" : "content",
                            "href" : "...",
                            "type" : "image/png",
                            "title" : "title.PNG"
                          }, {
                            "rel" : "parent",
                            "href" : "...",
                            "title" : "My folder"
                          }, {
                            "rel" : "edit",
                            "href" : "..."
                          }, {
                            "rel" : "create-version",
                            "href" : "..."
                          }, {
                            "rel" : "lock",
                            "href" : "..."
                          }, {
                            "rel" : "delete",
                            "href" : "..."
                          }, {
                            "rel" : "move",
                            "href" : "..."
                          }, {
                            "rel" : "copy",
                            "href" : "..."
                          }
                        ]
                    }
                ],
                "created" : "2007-10-10T09:02:17Z",
                "updated" : "2007-10-10T09:02:17Z"
            }
    
### Delete a Folder [DELETE]

This resource supports deleting a folder. If the authenticated user has permission to delete a folder, the folder resource will contain a Link with a @rel value of delete. To delete a folder, send a DELETE request to the delete URI.

If successful, this method will return an empty response with an OK status code and a link header to the parent folder.

This response uses the standard error codes and returns standard response headers.

+ Parameters
    + folderId (integer) ... ID of a folder.

+ Request
    + Headers

            Authorization: OAuth2 frootymcnooty/vonbootycherooty

+ Response 200
    + Headers
            
            Link: ...


## Folder Documents [/files/folders/{folderId}/documents]

### Create a Document [POST]

This resource supports creating a new Document. If the authenticated user has permission to create a new document within a folder, the folder resource will contain a Link with a @rel value of create-document.

Uploading files via the Huddle API is a two-step process.

To create a new document, issue a POST request to the create-document URI with an empty Document.
Once a document has been created, you may upload content to its upload URI.
For more information on uploading files, see UploadingDocuments.

* Title - The title of the document.
* Description - The description of the document.
* Extension - A extension for the document (optional). This property is optional but recommended. This helps us determine useful information about duplicate file names. See Response for more info.

If successful, this operation will return a 201 Created with a Location header pointing to your new document, and a representation of your new document in the body.

If @extension is supplied and a document with the same title and the same extension already exists within the folder, you will receive a 409 Conflict.

The new document will advertise an upload uri to which you can upload content. For more information see UploadingDocuments.

+ Parameters
    + folderId (integer) ... ID of a folder.

+ Request XML
    + Headers

            Accept: application/vnd.huddle.data+xml
            Authorization: OAuth2 frootymcnooty/vonbootycherooty
            
    + Body 
    
            <document
                 title="TPS report May 2010" 
                 description="relentlessly mundane and enervating."
                 extension=".doc" 
            />

+ Response 201 (application/vnd.huddle.data+xml)

    + Headers

            Location: ...

    + Body
    
            <document title="TPS report May 2010" description="relentlessly mundane and enervating.">
              <link rel="self" href="..." />
              <link rel="parent" href="..." title="..."/>
              <link rel="edit" href="..." />
              <link rel="move" href="..." />
              <link rel="delete" href="..." />
              <link rel="content" href="..." title="..." type="..." />
              <link rel="lock" href="..." />
              <link rel="version-history" href="..." />
              <link rel="create-version" href="..." />
              <link rel="comments" href="..." count="2" />
              <link rel="approvals" href="..." />
              <link rel="permissions" href="..." />
              <link rel="share" href="..." />
              <link rel="previews" href="..." />
              <link rel="alternate" href="..." />
              <link rel="alternate" href="..." type="text/html" />
              <link rel="shortlink" href="..." type="text/html" />
              <link rel="copy" href="..." />
              <link rel="audittrail" href="..." />
              <link rel="printed" href="..." />
              <link rel="make-offline" href="..." />
              <link rel="publish" href="..." />
              <link rel="publications" href="..." />
              <actor name="Peter Gibson" email="peter.gibson@example.com" rel="owner">
                <link rel="self" href="..." />
                <link rel="avatar" href="..." type="image/jpg" />
                <link rel="alternate" href="..." type="text/html" />
              </actor>
              <actor name="Barry Potter" email="barry.potter@example.com" rel="updated-by">
                <link rel="self" href="..." />
                <link rel="avatar" href="..." type="image/jpg" />
                <link rel="alternate" href="..." type="text/html" />
              </actor>
              <size>19475</size>
              <version>98</version>
              <created>2007-10-10T09:02:17Z</created>
              <updated>2011-10-10T09:02:17Z</updated>
              <processingStatus>Complete</processingStatus>
              <views>9</views>
              <workspace title="My workspace">
                <link rel="self" href="..." />
              </workspace>
              <thumbnails>
                <thumbnail type=”medium”>
                  <link rel="content" href="..." />
                </thumbnail>
              </thumbnails>
              <publications>
                <link rel="bookmark" href="..." />
                <publishedDate>2014-06-15T09:43:17Z</publishedDate>
                <documentVersion title="My amazing document is amazing">
                   <link rel="self" href="..." />
                   <version>2</version>
                   <contentType>application/pdf</contentType>
                </documentVersion>
                <scope>Public</scope>
              </publications>
            </document>

+ Request JSON
    
    + Headers

            Accept: application/vnd.huddle.data+json
            Authorization: OAuth2 frootymcnooty/vonbootycherooty
            
    + Body 
    
            {
                "title" : "TPS report May 2010",
                "description" : "relentlessly mundane and enervating.",
                "extension" : ".doc"
            }

+ Response 201 (application/vnd.huddle.data+json)

    + Headers

            Location: ...

    + Body
    
            {
                "title" : "TPS report May 2010",
                "description" : "relentlessly mundane and enervating.",
                "links" : [
                  {
                    "rel" : "self",
                    "href" : "..."
                  }, {
                    "rel" : "parent",
                    "href" : "..."
                  }, {
                    "rel" : "edit",
                    "href" : "..."
                  }, {
                    "rel" : "move",
                    "href" : "..."
                  }, {
                    "rel" : "delete",
                    "href" : "..."
                  }, {
                    "rel" : "content",
                    "href" : "...",
                    "title" : "...",
                    "type" : "..."
                  }, {
                    "rel" : "lock",
                    "href" : "..."
                  }, {
                    "rel" : "version-history",
                    "href" : "..."
                  }, {
                    "rel" : "create-version",
                    "href" : "..."
                  }, {
                    "rel" : "comments",
                    "href" : "..."
                  }, {
                    "rel" : "approvals",
                    "href" : "..."
                  }, {
                    "rel" : "permissions",
                    "href" : "..."
                  }, {
                    "rel" : "share",
                    "href" : "..."
                  }, {
                    "rel" : "previews",
                    "href" : "..."
                  }, {
                    "rel" : "alternative",
                    "href" : "..."
                  }, {
                    "rel" : "alternative",
                    "href" : "...",
                    "type" : "text/html"
                  }, {
                    "rel" : "shortlink",
                    "href" : "...",
                    "type" : "text/html"
                  }, {
                    "rel" : "copy",
                    "href" : "..."
                  }, {
                    "rel" : "audittrail",
                    "href" : "..."
                  }, {
                    "rel" : "printed",
                    "href" : "..."
                  }, {
                    "rel" : "make-offline",
                    "href" : "..."
                  }, {
                    "rel" : "publish",
                    "href" : "..."
                  }, {
                    "rel" : "publications",
                    "href" : "..."
                  }
                ],
                "actors" : [
                  {
                    "name" : "Peter Gibson",
                    "email" : "peter.gibson@example.com",
                    "rel" : "owner",
                    "links" : [
                      {
                        "rel" : "self",
                        "href" : "..."
                      }, {
                        "rel" : "avatar",
                        "href" : "...",
                        "type" : "image/jpg"
                      }, {
                        "rel" : "alternate",
                        "href" : "...",
                        "type" : "text/html"
                      }
                    ]
                  },
                  {
                    "name" : "Barry Potter",
                    "email" : "arry.potter@example.com",
                    "rel" : "updated-by",
                    "links" : [
                      {
                        "rel" : "self",
                        "href" : "..."
                      }, {
                        "rel" : "avatar",
                        "href" : "...",
                        "type" : "image/jpg"
                      }, {
                        "rel" : "alternate",
                        "href" : "...",
                        "type" : "text/html"
                      }
                    ]
                  }
                ],
                "size" : 19475,
                "version" : 98,
                "created" : "2007-10-10T09:02:17Z",
                "updated" : "2007-10-10T09:02:17Z",
                "processingStatus" : "Complete",
                "views" : 9,
                "workspace" : {
                  "title" : "My workspace",
                  "links": [
                    {
                      "rel": "self",
                      "href": "..."
                    }
                  ]
                },
                "thumbnails" : [
                  {
                    "type" : "medium",
                    "links" : [
                      {
                        "rel" : "content",
                        "href" : "..."
                      }
                    ]
                  }
                ],
                "publications" : {
                  "links" : [
                    {
                      "rel" : "bookmark",
                      "href" : "..."
                    }
                  ],
                  "publishedDate" : "2014-06-15T09:43:17Z",
                  "documentVersion" : {
                    "title" : "My amazing document is amazing",
                    "links" : [
                      {
                        "rel" : "self",
                        "href" : "..."
                      }
                    ],
                    "version" : 2,
                    "contentType" : "application/pdf"
                  },
                  "scope" : "Public"
                }
            }


## Restore Folder [/files/folders/{folderId}/restore]

This resource supports restoring a folder. If the authenticated user can restore a folder, /restore can be appended to the folder resource URI to restore URI. To restore the folder, issue a PUT request to the restore URI.

All documents that were deleted with the folder are also restored.

### Restoring a Folder [PUT]

If successful, this operation will return a 204 No content, with a link header giving the location of the restored folder.

This response uses the standard error codes and returns standard response headers.

+ Parameters
    + folderId (integer) ... ID of a folder.

+ Request
    + Headers

            Authorization: OAuth2 frootymcnooty/vonbootycherooty

+ Response 204
    + Headers
            
            Location: ...


## Edit Folder [/files/folders/{folderId}/edit]

If the authenticated user is authorized to edit a folder, it will advertise a link with a @rel value of edit. To update folder metadata submit a PUT request to this URI with the editable fields of the folder. For an overview of editing resource in Huddle see editing resources.

Editable resources will advertise a link with a @rel value of edit. A GET request to this URI should return a subset of the resource data which you can modify locally.

To persist your changes, make a PUT request back to the edit URI with the modified resource.

Clients must include all portions of an editable resource in order to avoid unintended consequences. Clients should expect the schema of an editable resource to be extended.

### Retrieve Editable Properties [GET]

The user wishes to change the description of a folder. First they retrieve the edit uri of the folder.

+ Parameters
    + folderId (integer) ... ID of a folder.

+ Request XML
    + Headers

            Accept: application/vnd.huddle.data+xml
            Authorization: OAuth2 frootymcnooty/vonbootycherooty

+ Response 200 (application/vnd.huddle.data+xml)

    + Body
    
        <folder title="my folder" description="ORIGINAL DESCRIPTION">
          <link rel="parent" href="..." />
        </folder>


+ Request JSON

    + Headers

            Accept: application/vnd.huddle.data+json
            Authorization: OAuth2 frootymcnooty/vonbootycherooty

+ Response 200 (application/vnd.huddle.data+json)

    + Body
    
            {
                "title" : "my folder",
                "description" : "ORIGINAL DESCRIPTION",
                "links" : [
                    {
                        "rel" : "parent"
                        "href" : "..."
                    }
                ]
                
            }

### Edit Folder Title, Description and Location [PUT]

In this example we update the folder's title and description using the URI advertised in the folder resource.

If a folder with the same title already exists within the folder, you will receive a 409 Conflict.

If successful, this operation will return a 204 No content, with a link header giving the location of the updated folder.

This response uses the standard error codes and returns standard response headers.

This resource supports moving a folder to a new location. If the authenticated user can move a folder, the folder resource will advertise a link with a @rel value of move. Note that the @href value of the move link is the same as the value for the edit link, since moving an item is in fact an edit operation. To move a folder, PUT a new link to this move uri, with a @rel value of parent, and an @href value pointing to the new parent folder. For an overview of editing resource in Huddle see editing resources.

+ Parameters
    + folderId (integer) ... ID of a folder.

+ Request XML
    + Headers

            Accept: application/vnd.huddle.data+xml
            Authorization: OAuth2 frootymcnooty/vonbootycherooty
            Content-Length: 102
    
    + Body
    
            <folder xmlns="http://schema.huddle.net/2011/02/" title="new title" description="new description" >
                <link rel="parent" href="..." />
            </folder>

+ Response 204

    + Headers

            Link: ...

            
+ Request JSON
    
    + Headers

            Accept: application/vnd.huddle.data+json
            Authorization: OAuth2 frootymcnooty/vonbootycherooty
            Content-Length: 102
            
    + Body
    
            {
                "title" : "new title",
                "description" : "new description",
                "links" : [
                    {
                        "rel" : "parent",
                        "href" : "..."
                    }
                ]
            }

+ Response 204

    + Headers

            Link: ...

    
## Copy Folder [/files/folders/{folderId}/copy]

The copy folder resource supports making a copy of a folder. This operation also copies the folder's sub-folders and documents.

In order to copy a folder, the user must have write access to both the source folder and target folder. If any of the folder's sub-folders or documents cannot be copied, they will be silently skipped. The remaining sub-folders and documents will still be copied.

The folder copy will have the same title and description as the original. If a folder with the same title already exists in the target folder, then the copied folder will be re-titled. For example, a copy of the folder "My Folder" would be re-titled "My Folder (1)".

### Copy a Folder [POST]

To copy a folder, first retrieve the folder to get its copy link, then POST to the folder's copy URI, including a link to the target folder in the body of the request (see Example below). Folders can be copied to the same folder, to another folder in the same workspace, or to a folder in another workspace.

If the copy operation is successful, the copy folder endpoint will return a 201 Created response, along with the URI of the new folder copy in the Location header.

It should be noted that this endpoint copies the top-level folder synchronously, but the folder's sub-folders and documents are copied asynchronously.

+ Parameters
    + folderId (integer) ... ID of a folder.

+ Request XML
    + Headers

            Accept: application/vnd.huddle.data+xml
            Authorization: OAuth2 frootymcnooty/vonbootycherooty
    
    + Body
            
            <copyFolder>
              <targetFolder>
                <link rel="self" href=".../files/folders/456" />  
              </targetFolder>
            </copyFolder>

+ Response 201 (application/vnd.huddle.data+xml)

    + Headers
    
            Location: ...


+ Request JSON

    + Headers

            Accept: application/vnd.huddle.data+json
            Authorization: OAuth2 frootymcnooty/vonbootycherooty
            
    + Body
    
            {
                "targetFolder" : {
                    "links" : [
                        {
                            "rel" : "self",
                            "href" : "..."
                        }
                    ]
                }
            }

+ Response 201 (application/vnd.huddle.data+json)

    + Headers

            Location: ...



# Group Documents
Documents represent files stored within Huddle, such as spreadsheets or images. Documents also have metadata for version history and commenting.

## Document [/files/documents/{documentId}]

### Retrieve a Document [GET]

When retrieving a folder, the response will contain the list of documents within the folder. Each document will advertise a self link, which you can use to GET the full document.

An If-Modified-Since header can be specified in the Request header to indicate that only if there are changes to the Document resource since the specified time should they be sent.

Additionally, Last-Modified is included in the response to indicate the last time the Document resource was generated.

+ Parameters
    + documentId (integer) ... ID of the document.

+ Request XML
    + Headers

            Accept: application/vnd.huddle.data+xml
            Authorization: OAuth2 frootymcnooty/vonbootycherooty
            If-Modified-Since: Thu, 04 Dec 1986 12:34:56 GMT

+ Response 200 (application/vnd.huddle.data+xml)

    + Headers

            Last-Modified: Thu, 04 Dec 1986 12:34:56 GMT

    + Body

            <document title="TPS report May 2010" description="relentlessly mundane and enervating.">
              <link rel="self" href="..." />
              <link rel="parent" href="..." title="..."/>
              <link rel="edit" href="..." />
              <link rel="move" href="..." />
              <link rel="delete" href="..." />
              <link rel="content" href="..." title="..." type="..." />
              <link rel="lock" href="..." />
              <link rel="version-history" href="..." />
              <link rel="create-version" href="..." />
              <link rel="comments" href="..." count="2" />
              <link rel="approvals" href="..." />
              <link rel="permissions" href="..." />
              <link rel="share" href="..." />
              <link rel="previews" href="..." />
              <link rel="alternate" href="..." />
              <link rel="alternate" href="..." type="text/html" />
              <link rel="shortlink" href="..." type="text/html" />
              <link rel="copy" href="..." />
              <link rel="audittrail" href="..." />
              <link rel="printed" href="..." />
              <link rel="make-offline" href="..." />
              <link rel="publish" href="..." />
              <link rel="publications" href="..." />
              <actor name="Peter Gibson" email="peter.gibson@example.com" rel="owner">
                <link rel="self" href="..." />
                <link rel="avatar" href="..." type="image/jpg" />
                <link rel="alternate" href="..." type="text/html" />
              </actor>
              <actor name="Barry Potter" email="barry.potter@example.com" rel="updated-by">
                <link rel="self" href="..." />
                <link rel="avatar" href="..." type="image/jpg" />
                <link rel="alternate" href="..." type="text/html" />
              </actor>
              <size>19475</size>
              <version>98</version>
              <created>2007-10-10T09:02:17Z</created>
              <updated>2011-10-10T09:02:17Z</updated>
              <processingStatus>Complete</processingStatus>
              <views>9</views>
              <workspace title="My workspace">
                <link rel="self" href="..." />
              </workspace>
              <thumbnails>
                <thumbnail type=”medium”>
                  <link rel="content" href="..." />
                </thumbnail>
              </thumbnails>
              <publications>
                <link rel="bookmark" href="..." />
                <publishedDate>2014-06-15T09:43:17Z</publishedDate>
                <documentVersion title="My amazing document is amazing">
                   <link rel="self" href="..." />
                   <version>2</version>
                   <contentType>application/pdf</contentType>
                </documentVersion>
                <scope>Public</scope>
              </publications>
            </document>


+ Request JSON
    + Headers

            Accept: application/vnd.huddle.data+json
            Authorization: OAuth2 frootymcnooty/vonbootycherooty
            If-Modified-Since: Thu, 04 Dec 1986 12:34:56 GMT


+ Response 200 (application/vnd.huddle.data+json)

    + Headers

            Last-Modified: Thu, 04 Dec 1986 12:34:56 GMT

    + Body

            {
                "title" : "TPS report May 2010",
                "description" : "relentlessly mundane and enervating.",
                "links" : [
                  {
                    "rel" : "self",
                    "href" : "..."
                  }, {
                    "rel" : "parent",
                    "href" : "..."
                  }, {
                    "rel" : "edit",
                    "href" : "..."
                  }, {
                    "rel" : "move",
                    "href" : "..."
                  }, {
                    "rel" : "delete",
                    "href" : "..."
                  }, {
                    "rel" : "content",
                    "href" : "...",
                    "title" : "...",
                    "type" : "..."
                  }, {
                    "rel" : "lock",
                    "href" : "..."
                  }, {
                    "rel" : "version-history",
                    "href" : "..."
                  }, {
                    "rel" : "create-version",
                    "href" : "..."
                  }, {
                    "rel" : "comments",
                    "href" : "..."
                  }, {
                    "rel" : "approvals",
                    "href" : "..."
                  }, {
                    "rel" : "permissions",
                    "href" : "..."
                  }, {
                    "rel" : "share",
                    "href" : "..."
                  }, {
                    "rel" : "previews",
                    "href" : "..."
                  }, {
                    "rel" : "alternative",
                    "href" : "..."
                  }, {
                    "rel" : "alternative",
                    "href" : "...",
                    "type" : "text/html"
                  }, {
                    "rel" : "shortlink",
                    "href" : "...",
                    "type" : "text/html"
                  }, {
                    "rel" : "copy",
                    "href" : "..."
                  }, {
                    "rel" : "audittrail",
                    "href" : "..."
                  }, {
                    "rel" : "printed",
                    "href" : "..."
                  }, {
                    "rel" : "make-offline",
                    "href" : "..."
                  }, {
                    "rel" : "publish",
                    "href" : "..."
                  }, {
                    "rel" : "publications",
                    "href" : "..."
                  }
                ],
                "actors" : [
                  {
                    "name" : "Peter Gibson",
                    "email" : "peter.gibson@example.com",
                    "rel" : "owner",
                    "links" : [
                      {
                        "rel" : "self",
                        "href" : "..."
                      }, {
                        "rel" : "avatar",
                        "href" : "...",
                        "type" : "image/jpg"
                      }, {
                        "rel" : "alternate",
                        "href" : "...",
                        "type" : "text/html"
                      }
                    ]
                  },
                  {
                    "name" : "Barry Potter",
                    "email" : "arry.potter@example.com",
                    "rel" : "updated-by",
                    "links" : [
                      {
                        "rel" : "self",
                        "href" : "..."
                      }, {
                        "rel" : "avatar",
                        "href" : "...",
                        "type" : "image/jpg"
                      }, {
                        "rel" : "alternate",
                        "href" : "...",
                        "type" : "text/html"
                      }
                    ]
                  }
                ],
                "size" : 19475,
                "version" : 98,
                "created" : "2007-10-10T09:02:17Z",
                "updated" : "2007-10-10T09:02:17Z",
                "processingStatus" : "Complete",
                "views" : 9,
                "workspace" : {
                  "title" : "My workspace",
                  "links": [
                    {
                      "rel": "self",
                      "href": "..."
                    }
                  ]
                },
                "thumbnails" : [
                  {
                    "type" : "medium",
                    "links" : [
                      {
                        "rel" : "content",
                        "href" : "..."
                      }
                    ]
                  }
                ],
                "publications" : {
                  "links" : [
                    {
                      "rel" : "bookmark",
                      "href" : "..."
                    }
                  ],
                  "publishedDate" : "2014-06-15T09:43:17Z",
                  "documentVersion" : {
                    "title" : "My amazing document is amazing",
                    "links" : [
                      {
                        "rel" : "self",
                        "href" : "..."
                      }
                    ],
                    "version" : 2,
                    "contentType" : "application/pdf"
                  },
                  "scope" : "Public"
                }
            }
            
### Deleting a Document [DELETE]
This resource supports deleting a document. If the authenticated user can delete a document, the document resource will advertise a link with @rel value of delete. To delete the document, issue a DELETE request to the delete URI.

+ Parameters
    + documentId (integer) ... ID of the document.

+ Request
    + Headers

            Authorization: OAuth2 frootymcnooty/vonbootycherooty

+ Response 200
    + Headers

            Link: .../files/folders/123;rel="parent"

## Document Content [/files/documents/{documentId}/content{?wasGetImplicit}]

### Download Document Content [GET]

Documents have binary content associated with them. If a document has binary content, it will advertise a link with a @rel value of content. To download the content, GET the URI advertised in the link. The @title attribute of the link will give the filename of the document, and the @type attribute will give the mime-type.

If a document has multiple versions the content link will point to the content of the latest active version, which will be a version that is not deleted and has had content uploaded to it successfully.

A 204 HTTP No Content response will be returned from this endpoint in the case where the document has no binary content.

The endpoint accepts an optional query string argument, wasGetImplicit, to signify the download is implicit, i.e. the associated user did not expressly choose to download the content. For example - the client application is caching / pre-fetching ahead of explicit use. If not specified, the flag will be assumed false. When set the flag ensures a different Activity entry is logged - DocumentDownloadedImplicit rather than DocumentDownloaded.

+ Parameters
    + documentId (integer) ... ID of the document.
    + wasGetImplicit (optional, boolean) ... Signifies the download is implicit, i.e. the associated user did not expressly choose to download the content.

+ Request
    + Headers

            Authorization: OAuth2 frootymcnooty/vonbootycherooty

+ Response 200
    + Headers

            Content-Type: text/plain
            Content-Length: 198
            Content-Disposition: attachment; filename="filename.txt"

    + Body

            Hello - this is the content of your text file. You uploaded it to Huddle to keep it safe and secure, but now it has been used in an API example by a bad developer and so everybody can see it. Oh no!

## Document Thumbnails [/files/documents/{documentId}/thumbnail/medium/content]

### Download Document Thumbnail [GET]
For certain file types, a thumbnail is automatically and asynchronously created when the file is uploaded. This includes the most common image and video MIME types.

If the document version’s MIME type is supported, the Get Document response body will include a "thumbnails" element containing a "thumbnail" child element, which contains a link with a @rel value of content. A GET request to the thumbnail content URI will return the thumbnail content.

If a thumbnail is not available, a 404 will be returned.

+ Parameters
    + documentId (integer) ... ID of the document.

+ Request
    + Headers

            Authorization: OAuth2 frootymcnooty/vonbootycherooty

+ Response 200
    + Headers

            Cache-Control: private, max-age=600
            Content-Type: image/jpeg
            Content-Length: 930

    + Body

            A stream that makes up the image...

## Restoring Documents [/files/documents/{documentId}/restore]

### Restoring a Document [PUT]
This resource supports restoring a document. If the authenticated user can restore a document, /restore can be appended to the document resource URI to restore URI. To restore the document, issue a PUT request to the restore URI.

If successful, this operation will return a 204 No content, with a link header giving the location of the restored document.

This response uses the standard error codes and returns standard response headers.

+ Parameters
    + documentId (integer) ... ID of the document.

+ Request
    + Headers

            Authorization: OAuth2 frootymcnooty/vonbootycherooty

+ Response 204
    + Headers

            Location: /files/documents/{documentId}

## Editing a Document [/files/document/{documentId}/edit]

### Retrieve Editable Document Metadata [GET]

If the authenticated user is authorized to edit a document, it will advertise a link with a @rel value of edit. To update document metadata submit a PUT request to this URI with the editable fields of the document. For an overview of editing resource in Huddle see editing resources.

+ Parameters
    + documentId (integer) ... ID of the document.

+ Request
    + Headers

            Authorization: OAuth2 frootymcnooty/vonbootycherooty
            Accept: application/vnd.huddle.data+xml

+ Response 200
    + Headers

            Content-Type: application/vnd.huddle.data+xml

    + Body

            <document title="old title" description="old description">
                <link rel="parent" href="..." />
            </document>

### Updating Document Title and Description or Moving Document [PUT]

The user then updates the @title and @description attributes in the editable document resource and PUTs it back to the server.

If a document with the same title and the same extension already exists within the folder, you will receive a 409 Conflict.

This resource supports moving a document to a new location. If the authenticated user can move a document, the document resource will advertise a link with a @rel of move. Note that the @href of this link is the same as the @href for editing a document, since a move is actually an edit operation. To move a document, PUT a new link to this move uri, with a @rel value of parent, and an @href value pointing to the new parent folder.

The client should follow the link header and perform a GET. When the 'processingStatus' element is equal to 'Moving' it means that the operation is still ongoing. When the operation is completed the 'processingStatus' element assumes the value 'Complete'. While the document is moving it's not possible to download its content, and a 409 Conflict will be returned if a client attempts to do so.

+ Parameters
    + documentId (integer) ... ID of the document.

+ Request
    + Headers

            Authorization: OAuth2 frootymcnooty/vonbootycherooty
            Content-Type: application/vnd.huddle.data+xml
            Content-Length: 102

    + Body

            <document xmlns="http://schema.huddle.net/2011/02/" title="new title" description="new description" >
                <link rel="parent" href="..." />
            </document>

+ Response 204 (application/vnd.huddle.data+xml)
    + Headers

            Link: .../files/documents/123;rel="parent"

## Copying a Document [/files/document/{documentId}]

### Copying Document [POST]

## Creating a new version of a document [/files/document/{documentId}/version]

### Create Document Metadata for new Version [POST]

### Upload Document Content for new Version [POST]

# Group Recents

The Recent Items API is in Beta

Recent Items APIs provide the ability for a user to easily track Recent Items they have Viewed / worked on using any device. Any file, and can be listed, added to and removed and any device can add to the list.

## Recent Items [/files/users/{userId}/recentitems]

### Retrieve Recent Items [GET]

The maximum number of recent items is 50 with subsequent entries resulting in the earliest entries moving off the list.

The POSTing / GETing of recent items is therefore on a LIFO context - with the last file added by the POST being the first retrieved in the GET.

A user may only access their own recent items list.

Huddle's current IMS-style caching will be used. An If-Modified-Since header can be specified in the request header to indicate that only if there are changes to the requested recent items resource since the specified time should they be sent.

Additionally, Last-Modified is included in the response to indicate the last time the recent items resource changed (i.e. a Document was added or removed from the user's recent file list).

Please Note:

* Data returned by the recent items API does not represent the Huddle catalog of data. This data has been provided by a client of Huddle and is a representation of the document at the moment in time a recent file was added.

* Permissions may have changed, and the document may not be available to the user

* To obtain the true latest state of a document a GET should be performed on the Self URI of that document.

+ Parameters
    + userId (integer) ... ID of the current user.

+ Request XML
    + Headers

            Accept: application/vnd.huddle.data+xml
            Authorization: OAuth2 frootymcnooty/vonbootycherooty

+ Response 200 (application/vnd.huddle.data+xml)

    + Headers

            Last-Modified: Thu, 14 Oct 2014 11:11:11 GMT

    + Body

            <recentitems>
              <link rel="self" href="..." />
              <maxItems>50</maxItems>
              <recentitem type="Document">
                <link rel="delete" href="..." />
                <link rel="self" href="..." />
                <title="A recent file document 1 title">
                <contenttype>text/plain</contenttype>
                <workspacetitle>"The parent workspace for document 1" />
                <dateaddedutc>2014-12-23T01:33:44Z />
              </recentitem>
              <recentitem type="document">
                <link rel="delete" href="..." />
                <link rel="self" href="..." />
                <title="A recent file document 2 title">
                <contenttype>text/plain</contenttype>
                <workspacetitle>"The parent workspace for document 2" />
                <dateaddedutc>2014-12-24T11:21:27Z />
              </recentitem>
            </recentitems>


+ Request JSON
    + Headers

            Accept: application/vnd.huddle.data+json
            Authorization: OAuth2 frootymcnooty/vonbootycherooty


+ Response 200 (application/vnd.huddle.data+json)

    + Headers

            Last-Modified: Thu, 04 Dec 1986 12:34:56 GMT

    + Body
    
            {
              "links": [
                {
                  "rel": "self",
                  "href": "..."
                }
              ],
              "maxItems": 50,
              "items": [
                {
                  "type": "Document",
                  "links": [
                    {
                      "rel": "delete",
                      "href": "..."
                    },
                    {
                      "rel": "self",
                      "href": "..."
                    }
                  ],
                  "title": "A recent file document 1 title",
                  "workspacetitletitle": "The parent workspace for document 1",
                  "contenttype": "text/plain",
                  "dateaddedutc": "2015-02-28T10:01:06Z"
                },
                {
                  "type": "document",
                  "links": [
                    {
                      "rel": "delete",
                      "href": "..."
                    }
                  ],
                  "document": {
                    "title": "A recent file document 2 title",
                    "links": [
                      {
                        "rel": "self",
                        "href": "..."
                      }
                    ],
                    "workspacetitle": {
                      "title": "The parent workspace for document 2"
                    }
                  }
                }
              ]
            }

### Add Recent Item [POST]

A file is added to a user's recent list by POSTing to the relevant endpoint. A limited amount of state must be POSTed by clients to populate the list with pertinent information.

As such any retrieved data may be out of date. Resources may exist on the list that the user no longer has access to. A GET against the document resource will both return the right state and whether the user still has access.

POSTing a file incldues the date in the payload. The list will then be sorted on that list. An item that already exists on the list will result in a 201 result, with the file sorted in the list according to the date posted and the existing entries on the list.

+ Parameters
    + userId (integer) ... ID of the current user.

+ Request XML
    + Headers

            Accept: application/vnd.huddle.data+xml
            Authorization: OAuth2 frootymcnooty/vonbootycherooty
            
    + Body
    
            <recentitem>
              <type>Document</type>
              <link rel="self" href="..."/>
              <title>a very important text file</title>
              <contenttype>text/plain</contenttype>
              <workspacetitle>a very important workspace</workspacetitle>
              <dateaddedutc>2014-10-23T12:08:02Z</dateaddedutc>
            </recentitem>


+ Response 201 (application/vnd.huddle.data+xml)

    + Headers

            Location: ...


+ Request JSON
    
    + Headers

            Accept: application/vnd.huddle.data+json
            Authorization: OAuth2 frootymcnooty/vonbootycherooty
            
    + Body
    
            {
              "link": [{
                  "rel": "self",
                  "href": "..."
              }],
              "type":"document",
              "title": "a very important text file",
              "contenttype": "text/plain",
              "workspacetitle": "a very important workspace"
              "dateaddedutc": "2014-10-23T12:08:02Z"
            }


+ Response 201 (application/vnd.huddle.data+json)

    + Headers

            Location: ...

## Recent Item [/files/users/{userId}/recentitems/{documentId}]

### Delete Recent Item [DELETE]

A Document can be removed from a User's recent file list by issuing a DELETE against the User's Recent Items API

+ Parameters
    + userId (integer) ... ID of the current user.
    + documentId (integer) ... ID of the document in the user's recent item list.

+ Request XML
    + Headers

            Accept: application/vnd.huddle.data+xml
            Authorization: OAuth2 frootymcnooty/vonbootycherooty

+ Response 204 (application/vnd.huddle.data+xml)

+ Request JSON
    + Headers

            Accept: application/vnd.huddle.data+json
            Authorization: OAuth2 frootymcnooty/vonbootycherooty

+ Response 204 (application/vnd.huddle.data+json)

# Group Changes

## Changes [/workspaces/{workspaceId}/changes{?pagesize}]

Changes represent the list of changes made to an object and its children.

### Retrieve workspace changes list [GET]

When retrieving a workspace, the response will advertise a changes link, which you can use to GET the changes made to the workspace and its children.

Responses are paged, you can navigate between pages by following the next and prev links. The URI advertised by the workspace will always point to the most recent set of changes. The earliest set of changes is advertised by the last link. The most recent changes are available at the first link.

+ Parameters
    + workspaceId (integer) ... ID of workspace.
    + pagesize (optional, integer) ... Number of elements to return per page, between 50 - 2000. Default: 50.

+ Request XML
    + Headers

            Accept: application/vnd.huddle.data+xml
            Authorization: OAuth2 frootymcnooty/vonbootycherooty
            If-Modified-Since: Sat, 29 Oct 1994 19:43:31 GMT

+ Response 200 (application/vnd.huddle.data+xml)

    + Headers

            Last-Modified: Thu, 14 Oct 2014 11:11:11 GMT
            
    + Body
    
            <changes xmlns="http://schema.huddle.net/2011/02/">
              <link rel="self" href="..." />
              <link rel="next" href="..." />
              <link rel="last" href="..." />
            
              <change>
                <link rel="self" href="..." />
                <link rel="subject" href="..." />
                <link rel="workspace" href="..." />
                <link rel="parent" href="..." />
                <type>DocumentCheckedOut</type>
                <actor name="Mrs. Teasdale" email="teasdale@example.com" rel="owner">
                    <link rel="self" href="..." />
                    <link rel="avatar" href="..." type="image/jpg" />
                    <link rel="alternate" href="..." type="text/html" />
                </actor>
                <created>2011-02-01T13:18:42Z</created>
                <correlationId>2345-3567-1234-235566</correlationId>
              </change>
            
              <change>
                <link rel="self" href="..." />
                <link rel="subject" href="..." />
                <link rel="workspace" href="..." />
                <link rel="parent" href="..." />
                <type>ObjectCreated</type>
                <actor name="Rufus T. Firefly" email="rufus.firefly@example.com" rel="owner">
                    <link rel="self" href="..." />
                    <link rel="avatar" href="..." type="image/jpg" />
                    <link rel="alternate" href="..." type="text/html" />
                </actor>
                <created>2011-02-01T13:17:42Z</created>
              </change>
            </changes>

+ Request JSON
    + Headers

            Accept: application/vnd.huddle.data+json
            Authorization: OAuth2 frootymcnooty/vonbootycherooty
            If-Modified-Since: Sat, 29 Oct 1994 19:43:31 GMT

+ Response 200 (application/vnd.huddle.data+json)

    + Headers

            Last-Modified: Thu, 14 Oct 2014 11:11:11 GMT
            
    + Body
    
            {
                "links" : [
                    {
                        "rel" : "self",
                        "href" : "..."
                    }, {
                        "rel" : "next",
                        "href" : "..."
                    }, {
                        "rel" : "last",
                        "href" : "..."
                    }
                ],
                "changes" : [
                    {
                        "links" : [
                            {
                                "rel" : "self",
                                "href" : "..."
                            }, {
                                "rel" : "subject",
                                "href" : "..."
                            }, {
                                "rel" : "workspace",
                                "href" : "..."
                            }, {
                                "rel" : "parent",
                                "href" : "..."
                            }
                        ],
                        "type" : "DocumentCheckedOut",
                        "actor" : {
                            "name" : "Mrs. Teasdale",
                            "email" : "teasdale@example.com",
                            "rel" : "owner"
                            "links" : [
                                {
                                    "rel" : "self",
                                    "href" : "..."
                                }, {
                                    "rel" : "avatar",
                                    "href" : "...",
                                    "type" : "image/jpg"
                                }, {
                                    "rel" : "alternate",
                                    "href" : "...",
                                    "type" : "text/html"
                                }
                            ]
                        },
                        "created" : "2011-02-01T13:18:42Z",
                        "correlationId" : "2345-3567-1234-235566"
                    }, {
                        "links" : [
                            {
                                "rel" : "self",
                                "href" : "..."
                            }, {
                                "rel" : "subject",
                                "href" : "..."
                            }, {
                                "rel" : "workspace",
                                "href" : "..."
                            }, {
                                "rel" : "parent",
                                "href" : "..."
                            }
                        ],
                        "type" : "ObjectCreated",
                        "actor" : {
                            "name" : "Rufus T. Firefly",
                            "email" : "rufus.firefly@example.com",
                            "rel" : "owner"
                            "links" : [
                                {
                                    "rel" : "self",
                                    "href" : "..."
                                }, {
                                    "rel" : "avatar",
                                    "href" : "...",
                                    "type" : "image/jpg"
                                }, {
                                    "rel" : "alternate",
                                    "href" : "...",
                                    "type" : "text/html"
                                }
                            ]
                        },
                        "created" : "2011-02-01T13:18:42Z"
                    }
                ]
            }

# Group Audit Trails

The AuditTrail resource represents a collection of changes made to a specific document resource.

## Document Audit Trails [/files/documents/{documentId}/audittrail{?limit}]

### Retrieve a Document's Audit Trail [GET]

If the authenticated user is authorized to view a document, the document resource will advertise a link with @rel value of audittrail. To retrieve the document's audit trail, GET the audittrail URI which will return an AuditTrail resource.

You can specify the maximum number of audit entries you want from the API by specifying a limit query-string parameter, up to a maximum of 5000. (If you exceed the maximum, the API will respond with 400 Bad Request.) The most recent audit entries will be returned. Omitting the query string will result in a default limit of 2000 being applied.


+ Parameters
    + workspaceId (integer) ... ID of workspace.
    + limit (optional, integer) ... The maximum number of audit entries to return.

+ Request XML
    + Headers

            Accept: application/vnd.huddle.data+xml
            Authorization: OAuth2 frootymcnooty/vonbootycherooty

+ Response 200 (application/vnd.huddle.data+xml)

    + Body
    
            <changes xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
              <link rel="self" href=".../files/documents/123/audittrail" />
              <change>
                <link rel="self" href=".../files/change-sets/document/123/3" />
                <link rel="subject" href=".../files/documents/123" />
                <link rel="workspace" href=".../workspaces/6" />
                <link rel="parent" href=".../files/folders/99" />
                <link rel="share-information" href=".../notifications/shares/5df96158-5f6c-4d7f-a716-7877ad92c560" />
                <type>DocumentShared</type>
                <actor name="Bob Jones" email="bob.jones@123.com" rel="owner">
                  <link rel="self" href=".../users/9" />
                  <link rel="avatar" href=".../files/users/9/avatar" type="image/jpeg" />
                  <link rel="alternate" href=".../user/bjones" type="text/html" />
                </actor>
                <createdDate>2013-05-08T13:52:29</createdDate>
                <versionNumber>1</versionNumber>
                <description>30</description>
              </change>
              <change>
                <link rel="self" href=".../files/change-sets/document/123/2" />
                <link rel="subject" href=".../files/documents/123" />
                <link rel="workspace" href=".../workspaces/6" />
                <link rel="parent" href=".../files/folders/99" />
                <type>DocumentVersionViewed</type>
                <actor name="Bob Jones" email="bob.jones@123.com" rel="owner">
                  <link rel="self" href=".../users/9" />
                  <link rel="avatar" href=".../files/users/9/avatar" type="image/jpeg" />
                  <link rel="alternate" href=".../user/bjones" type="text/html" />
                </actor>
                <createdDate>2013-05-07T10:21:03</createdDate>
                <versionNumber>1</versionNumber>
              </change>
              <change>
                <link rel="self" href=".../files/change-sets/document/123/1" />
                <link rel="subject" href=".../files/documents/123" />
                <link rel="workspace" href=".../workspaces/6" />
                <link rel="parent" href=".../files/folders/99" />
                <type>ObjectCreated</type>
                <actor name="Bob Jones" email="bob.jones@123.com" rel="owner">
                  <link rel="self" href=".../users/9" />
                  <link rel="avatar" href=".../files/users/9/avatar" type="image/jpeg" />
                  <link rel="alternate" href=".../user/bjones" type="text/html" />
                </actor>
                <createdDate>2013-05-07T10:20:03</createdDate>
              </change>
            </changes>

+ Request JSON
    + Headers

            Accept: application/vnd.huddle.data+json
            Authorization: OAuth2 frootymcnooty/vonbootycherooty

+ Response 200 (application/vnd.huddle.data+json)

    + Body
    
            {
                "links" : [
                    {
                        "rel" : "self",
                        "href" : "..."
                    }
                ],
                "changes" : [
                    {
                        "links" : [
                            {
                                "rel" : "self",
                                "href" : "..."
                            }, {
                                "rel" : "subject",
                                "href" : "..."
                            }, {
                                "rel" : "workspace",
                                "href" : "..."
                            }, {
                                "rel" : "parent",
                                "href" : "..."
                            }, {
                                "rel" : "share-information",
                                "href" : "..."
                            }
                        ],
                        "type" : "DocumentShared",
                        "actor" : {
                            "name" : "Bob Jones",
                            "email" : "bob.jones@123.com",
                            "rel" : "owner"
                            "links" : [
                                {
                                    "rel" : "self",
                                    "href" : "..."
                                }, {
                                    "rel" : "avatar",
                                    "href" : "...",
                                    "type" : "image/jpg"
                                }, {
                                    "rel" : "alternate",
                                    "href" : "...",
                                    "type" : "text/html"
                                }
                            ]
                        },
                        "created" : "2011-02-01T13:18:42Z",
                        "versionNumber" : 1,
                        "description" : 30
                    }, {
                        "links" : [
                            {
                                "rel" : "self",
                                "href" : "..."
                            }, {
                                "rel" : "subject",
                                "href" : "..."
                            }, {
                                "rel" : "workspace",
                                "href" : "..."
                            }, {
                                "rel" : "parent",
                                "href" : "..."
                            }
                        ],
                        "type" : "DocumentVersionViewed",
                        "actor" : {
                            "name" : "Bob Jones",
                            "email" : "bob.jones@123.com",
                            "rel" : "owner"
                            "links" : [
                                {
                                    "rel" : "self",
                                    "href" : "..."
                                }, {
                                    "rel" : "avatar",
                                    "href" : "...",
                                    "type" : "image/jpg"
                                }, {
                                    "rel" : "alternate",
                                    "href" : "...",
                                    "type" : "text/html"
                                }
                            ]
                        },
                        "created" : "2011-02-01T13:18:42Z",
                        "versionNumber" : 1
                    }, {
                         "links" : [
                            {
                                "rel" : "self",
                                "href" : "..."
                            }, {
                                "rel" : "subject",
[...]
